* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.colorBlue {
  color: #00EEFF;
}

[class*=__conteiner] {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
}
.header_navigatioo a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.header_navigatioo a:not(:last-child) {
  margin-right: 54px;
}
.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 {
  height: 100vh;
  background: url("/img/backround.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section1_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section1_left h1 {
  color: #fff;
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 11px;
}
.section1_left h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  word-spacing: 15px;
  margin-bottom: 11px;
}
.section1_left h2 span {
  color: #fff;
  -webkit-animation: color 500ms both;
          animation: color 500ms both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.section1_left p {
  color: #fff;
  font-weight: 600;
  line-height: 26px;
  width: 59%;
  margin-bottom: 28px;
}

.social_box {
  margin-bottom: 32px;
}
.social_box a:not(:last-child) {
  margin-right: 23px;
}

.download {
  color: #1f242d;
  font-weight: 600;
  border-radius: 19px 19px 19px 19px;
  background-color: #00EEFF;
  width: 172px;
  height: 38px;
  border: none;
  cursor: pointer;
}
.download:hover {
  background-color: #03d3e2;
}

.section2 {
  background-color: #323946;
}
.section2__conteiner {
  height: 100vh;
}
.section2__conteiner h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 125px;
  padding-top: 100px;
}
.section2_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 35%;
}
.section2_about_left {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.section2_about_left_conteiner {
  width: 320px;
  height: 270px;
  background-color: #00EEFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section2_about_left_conteiner img {
  position: absolute;
  top: -130px;
}
.section2_about_left_conteiner h2 {
  -webkit-transform: translateY(135px);
      -ms-transform: translateY(135px);
          transform: translateY(135px);
  color: #fff;
  font-size: 32px;
}
.section2_about_left_conteiner p {
  -webkit-transform: translateY(140px);
      -ms-transform: translateY(140px);
          transform: translateY(140px);
  color: #323946;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
}
.section2_about_right_button {
  margin-bottom: 50px;
}
.section2_about_right_button select {
  display: none;
}
.section2_about_right_button button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  -webkit-transition: width 2s;
  transition: width 2s;
  cursor: pointer;
}
.section2_about_right_button button:not(:last-child) {
  margin-right: 52px;
}
.section2_about_right_button button:hover:not(.active) {
  color: #05cfdd;
}
.section2_about_right_button button:hover:not(.active)::after {
  -webkit-animation: animationAfter 1s;
          animation: animationAfter 1s;
  content: "";
  display: block;
  width: 100%;
  background-color: #05cfdd;
  height: 1px;
}
.section2_about_right_info_box h2 {
  color: #0ef;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
}
.section2_about_right_info_box p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.section2_about_right_info_box:not(:last-child) {
  margin-bottom: 27px;
}

.active {
  color: #00EEFF !important;
}
.active::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #00EEFF;
  height: 1px;
}

.section3 {
  padding: 20px 0;
  background-color: #1F242D;
  padding: 30px;
}
.section3__conteiner h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.technologist_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.technologist_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.technologist_box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.section4 {
  background-color: #323946;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 0;
}
.section4__conteiner h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.work_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.work_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F242D;
  border-radius: 20px;
  padding: 20px 10px;
  padding-bottom: 10px;
  gap: 20px;
  -webkit-box-shadow: 0 25px 28px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 28px 0 rgba(0, 0, 0, 0.25);
}
.work_content:not(:last-child) {
  margin-bottom: 20px;
}
.work_content_right {
  height: 100%;
}
.work_content_right h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 30px;
}
.work_content_right_description {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}
.work_content_right_technologist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.work_content_right_technologist p {
  color: #d1d5db;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #323946;
}

.section5 {
  background-color: #1F242D;
  padding-top: 118px;
  height: 75vh;
}
.section5_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section5_content_left {
  width: 50%;
}
.section5_content_left p {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  width: 64%;
  margin-bottom: 65px;
}
.section5_content_right {
  width: 50%;
}
.section5__conteiner h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 94px;
}

/** Components **/
.fs-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fs-form:where(.fs-layout__2-column) {
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

.fs-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.375rem;
}

.fs-button {
  background-color: #323946;
  border-radius: 0.375rem;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 1rem 2rem;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  width: 589px;
  height: 53px;
}

.fs-button:hover {
  background-color: #2c323d;
}

.fs-input {
  background-color: #323946;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  border-width: 0;
  color: #000;
  font-size: 1rem;
  height: 53px;
  width: 589px;
  line-height: 1.5rem;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #fff;
}

.fs-input:focus-visible {
  outline: 3px solid #2b303b;
  outline-offset: 0;
}

.fs-input::-webkit-input-placeholder {
  color: #ffffff;
}

.fs-input::-moz-placeholder {
  color: #ffffff;
}

.fs-input:-ms-input-placeholder {
  color: #ffffff;
}

.fs-input::-ms-input-placeholder {
  color: #ffffff;
}

.fs-input::placeholder {
  color: #ffffff;
}

.fs-textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  border-width: 0;
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  resize: vertical;
  background-color: #323946;
  color: #fff;
  width: 589px;
  height: 117px;
}

.fs-textarea:focus-visible {
  outline: 3px solid #2b303b;
  outline-offset: 0;
}

.fs-textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.fs-textarea::-moz-placeholder {
  color: #ffffff;
}

.fs-textarea:-ms-input-placeholder {
  color: #ffffff;
}

.fs-textarea::-ms-input-placeholder {
  color: #ffffff;
}

.fs-textarea::placeholder {
  color: #ffffff;
}

.footer {
  background-color: #323946;
}
.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  color: #fff;
  font-size: 20px;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 387px;
  height: 259px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #1F242D;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.container:hover .overlay {
  opacity: 1;
}

.work_description {
  margin: 0 10px;
  margin-top: 10px;
}

.work_header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.social_box a img {
  -webkit-transition: all 1s;
  transition: all 1s;
}
.social_box a:hover img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 1210px) {
  .footer__conteiner p {
    margin-left: 10px;
  }
  .footer__conteiner a {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1185px) {
  .section5_content_left {
    margin-left: 10px;
  }
  .section5_content_right {
    margin-right: 10px;
  }
  .section5_content_right .fs-form {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .fs-input, .fs-textarea, .fs-button {
    width: 480px;
  }
}
@media screen and (max-width: 975px) {
  .section2_about_right_button button:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (max-width: 955px) {
  .fs-input, .fs-textarea, .fs-button {
    width: 400px;
  }
}
@media screen and (max-width: 930px) {
  .section1_left p {
    width: 90%;
  }
}
@media screen and (max-width: 845px) {
  .section2_about_right_button {
    margin-bottom: 20px;
  }
  .section2_about_right_button button {
    display: none;
  }
  .section2_about_right_button select {
    display: block;
    background-color: #1f242d;
    color: #00EEFF;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 18px;
  }
  .section2_about_right_info {
    margin-right: 5px;
  }
}
@media screen and (max-width: 836px) {
  .section1 {
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .section1__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section1_left h1 {
    text-align: center;
  }
  .section1_left h2 {
    text-align: center;
  }
  .section1_left p {
    width: 100%;
    text-align: center;
  }
  .section1_left .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section1_left .download {
    margin: 0 auto;
  }
  .section1_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 820px) {
  .section5 {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 20px;
  }
  .section5 h1 {
    margin-bottom: 40px;
  }
  .section5_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section5_content_left {
    margin-left: 0;
    width: 100%;
  }
  .section5_content_left p {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .section5_content_left .social_box {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
  }
  .section5_content_right {
    margin-right: 0;
    width: 100%;
  }
  .section5_content_right .fs-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__conteiner img {
    width: 40px;
  }
}
@media screen and (max-width: 635px) {
  .section2 h1 {
    margin-bottom: 155px;
  }
  .section2_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2_about_left {
    width: 100%;
    margin-bottom: 30px;
  }
  .section2_about_left_conteiner {
    margin: auto;
  }
  .section2_about_right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 435px) {
  .section1_right img {
    width: 400px;
  }
}
@media screen and (max-width: 410px) {
  .section5_content_left p {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .fs-button, .fs-textarea, .fs-input {
    width: 320px;
  }
}
@media screen and (max-width: 405px) {
  .section1_left h1 {
    font-size: 40px;
  }
  .section1_left h2 {
    font-size: 25px;
  }
  .section1_right img {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .image {
    width: 320px;
    height: 220px;
  }
}
@media screen and (max-width: 355px) {
  .section1_right img {
    width: 300px;
  }
  .section2_about_right_info_box p {
    font-size: 16px;
  }
}
@media screen and (max-width: 340px) {
  .image {
    width: 290px;
    height: 190px;
  }
  .fs-button, .fs-textarea, .fs-input {
    width: 295px;
  }
}
@media screen and (max-width: 335px) {
  .section2_about_left_conteiner {
    width: 305px;
    height: 260px;
  }
}
@-webkit-keyframes animationAfter {
  0% {
    width: 0%;
    color: #000;
  }
  100% {
    width: 100%;
    color: #ffffff;
  }
}
@keyframes animationAfter {
  0% {
    width: 0%;
    color: #000;
  }
  100% {
    width: 100%;
    color: #ffffff;
  }
}
@-webkit-keyframes color {
  0% {
    color: #fff;
  }
  100% {
    color: #00EEFF;
  }
}
@keyframes color {
  0% {
    color: #fff;
  }
  100% {
    color: #00EEFF;
  }
}